body{
    background-color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 24px;
    color:rgb(73, 4, 4)
}
button{
    padding: 10px 20px;
    background-color: rgb(117, 3, 3);
    color: pink;
}